name: Pages

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    name: Deploy to GH Pages
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./apps/planetarium
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'npm'

      - name: Install Dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Deploy to github pages
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages
          folder: ./apps/planetarium/dist

